################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.config
/Bankingapplication/Bankingapplication/Bankingapplication.csproj.user
